:root{
    --color-primary: #fcc302;
    --color-secondary: #daac00;
    --color_accent: #00bec9;
    --bg-color: #fff;
    --bg-color-secondary: #343434;
    --text-color: #313243;
    --text-color-on-primary: #fff;
    --width-page: 1200px;
    --nav-height: 120px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    background-color: var(--color-secondary) ;
    display: flex;
    justify-content: center;
}
.main_nav{
    max-width: var(--width-page);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    align-items: center;
}
.div__derecha, .menu{
    display: flex;
    list-style: none;
}
.menu__item a{
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color-on-primary);
}
.busqueda{
    margin-left: 2rem;
    display: flex;
    box-shadow: 0 3px 8px rgb(0 0 0 / 0.2);
}
.busqueda input{
    background: var(--color-primary);
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
}
.busqueda input::placeholder{
    color: var(--text-color-on-primary);
}
.boton_buscar{
    background-color: var(--color_accent);
    padding: 0 1rem;
    border: none;
}
.boton_buscar .icono{
    color: var(--text-color-on-primary);
    font-size: 2rem;
}
main {
    margin: 0 auto;
}
.ancho_pagina {
    max-width: var(--width-page);
    margin: 0 auto;
}
.presentacion {
    background-color: var(--color-primary);
    height: calc(100vh - var(--nav-height));
}
.diapositiva {
    display: flex;
    align-items: center;
}
.diapositiva__contenido {
    display: flex;
}
.diapositiva__imagen {
    margin-left: 5rem;
}
.diapositiva__descripcion {
    color: var(--text-color-on-primary);
}
.diapositiva__titulo {
    font-size: 3rem;
}
.diapositiva__descripcion p {
    font-size: 1.5rem;
}
.boton {
    padding: 1rem 1.5rem;
    color: var(--text-color-on-primary);
    border-radius: 0.25rem;
}
.boton--primary {
    background-color: var(--color_accent);
}
.boton--outline {
    border: 2px solid var(--text-color-on-primary);
}
.diapositiva__descripcion .boton--outline {
    margin-left: 1rem;
    /*
    outline: 2px solid white;
    outline-offset: -2px;
    */
}
.diapositiva__descripcion p {
    margin: 0.5rem 0 4rem 0;
}

