html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: white;
}

.menu, .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.menu__item {
    display: inline-block;
    position: relative;
    color: white;
}
.menu__item a {
    color: white;
    text-decoration: none;
}

.submenu__item {
    position: relative;
    color: black;
}

.menu__item, .submenu__item {
    padding: 0.5rem 1rem;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 8rem;
    display: none;
}

.menu__item a:focus + .submenu {
    display: block;
}

.menu__item:nth-child(1) {
    background-color: aqua;
}
.menu__item:nth-child(2) {
    background-color: hotpink;
}
.menu__item:nth-child(3) {
    background-color: teal;
}
.menu__item:nth-child(3) {
    background-color: teal;
}
.menu__item:nth-child(4) {
    background-color: tomato;
}

@media only screen and (max-width: 768px) {
    .menu, .submenu, .menu__item, .submenu__item {
        display: block;
    }
    .submenu {
        display: none;
        margin-top: 0.5rem;
        position: inherit;
        width: 100%;
    }
}